@CHARSET "ISO-8859-1";
body{
	background: url("../img/fondo_reyes.jpg") no-repeat top right;
	background-attachment: fixed;
	background-color:#000;
	font-family:'Cookie', Verdana, Arial, Helvetica;
	color:#222;
	font-size:24px;
	line-height:27px;
}
.carta{
	opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
	background-color:#fff;
	border: solid 10px #222;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	max-width:750px;
	padding:10px;
	text-align:left;
}
.pie_img_reyes{
	background: url("../img/fondo_pie_carta.jpg") no-repeat bottom left;
	background-color:#fff;
}
.sello{
	text-align:right;
}
.img_sello{
	width:120px;
}
.titulo_reyes{
	margin-left:25px;
	font-size:3.5rem;
	width:100%;
}
.contenido{
	padding:50px 25px;
	text-align:left;
}
.contenido ul,li{
	padding-top:10px;
}
.firma{
	padding:0px 25px 30px 0px;
	text-align:right;
}
.link-url{
	color:#369;
	font-family:Verdana, Arial, Helvetica;
	font-size:0.9rem;
}